{{ define "Tela_Login"}}
<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content= "IE=edge">
		<title>Tela de Login</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="/static/css/login.css">
	</head>
	<body>
        <div class="login-container">
            <h1>Login</h1>
            <form action="/Login" method="POST">
                <div class="input-group">
                    <label>Email</label>
                    <input type="email" name="email" required>
                </div>

                <div class="input-group">
                    <label>Senha</label>
                    <input type="password" name="senha" required>
                </div>

                <button type="submit">Entrar</button>
                <a href="Cadastro">Criar conta</a>
            </form>

        </div>
	
</body>
</html>
{{ end }}
