* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: linear-gradient(135deg, #4f46e5, #9333ea);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container {
 background: #fff;
 padding: 30px;
 border-radius: 12px;
 box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.25);
 width: 350px;
 text-align: center;   
}

.login-container h2 {
    margin-bottom: 20px;
    color: #333;
}


.input-group {
    text-align: left;
    margin-bottom: 15px;
}

.input-group label {
    font-size: 14px;
    color: #444;
}

.input-group input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 8px;
    border: 1px solid #ccc;
}

button {
    width: 100%;
    padding: 12px;
    border: none;
    background: #4f46e5;
    color: white;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.3s;
}

button:hover {
    background: #3730a3;
}

#message {
    margin-top: 15px;
    font-size: 14px;
}

a {
    padding: auto;
}
